# Build artifacts
/build/
/target/
*.o
*.a
*.so
*.d
*.elf
*.bin
*.img
*.iso
*.log

# exceptions for Limine
!third_party/limine/
!third_party/limine/**

# Editors / OS
.vscode/
.idea/
.DS_Store
.codex

# Tooling
.cache/

# Pull Request
PR.md
